# --- project related ---
MyPythonClasses/
devices/drafts/
SpyderFiles/spyder_config_backup/
test.py

# --- nextcloud related ---
*.sync-conflict-*

# --- python related ---
.*
!.gitignore
__pycache__/
*.py[cod]

#.venv/
#.idea/
#.vscode/

